*.log
*.pdb
*.idb
*.exe
*.obj
*.pch
*.ipch
*.ilk
*.tlog
/vs
/Debug
/Release
/x64


*.ipch
SimpleGame/.vs/SimpleGame/v15/.suo
SimpleGame/.vs/SimpleGame/v15/.suo
*.db
*.ipch
SimpleGame/.vs/SimpleGame/v15/.suo
*.db
*.ipch
*.opendb
*.ipdb
*.iobj
